<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<!-- Shorter spoken names for Siri App Shortcuts (\(.applicationName) resolves these too). -->
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Kismet</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>kiz-met</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Orbit</string>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>
